.advantages {
  width: $mobile-min-width;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantages__item {
  min-height: 58px;
  margin: 0;
  padding-top: 25px;
  background-color: $dark-background;
  position: relative;
  font-size: 0;

  @media (min-width: $tablet-width) {
    min-height: 256px;
    padding-top: 0;
    display: grid;
    align-items: center;
  }

  &::after {
    content: "";
    width: 280px;
    margin: 0 20px;
    padding: 0;
    height: 1px;
    background-color: $bottom-line;
    display: block;
    position: relative;
    bottom: 0;
    left: 0;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }

  &:last-child::after {
    content: none;
  }
}

.advantages__description {
  padding-top: 0;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin: auto;
    padding: 0 20px;
    min-height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $title-color;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  @media (max-width: $mobile-width-only) {
    & .wrapping {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.advantages__number,
.advantages__text {
  font-size: 14px;
  line-height: 21px;
  color: $main-text;
  margin: 0;
}

.advantages__number {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.advantages__text {
  padding: 0 19px;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 70px;
    margin-bottom: 20px;
  }
}

.advantages__item--town {
  padding-top: 69px;
  background-color: $primary-color;
  background-image: url("../img/bg-triangle.svg");
  background-position: center 0;
  background-repeat: no-repeat;

  &::after {
    content: none;
  }

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: none;
    padding-top: 0;
  }
}

.advantages__item--town .advantages__description {
  @media (min-width: $desktop-width) {
    padding-top: 10px;
  }
}

.advantages__item--town .advantages__title {
  margin-bottom: 15px;
}

.advantages__item--town .advantages__text {
  padding: 0;

  @media (min-width: $desktop-width) {
    padding: 0 40px;
  }
}

.advantages__picture {
  width: 100%;
  max-width: 100%;
  height: 260px;
  object-fit: cover;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    height: 256px;
  }
}

.advantages__item--town .advantages__picture {
  margin-top: 14px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    grid-column-start: 2;
    grid-column-end: -1;
  }
}

.advantages__item--town .advantages__details {
  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.advantages__item--town .advantages__title,
.advantages__item--town .advantages__number,
.advantages__item--town .advantages__text,
.advantages__item--bridge .advantages__title,
.advantages__item--bridge .advantages__number,
.advantages__item--bridge .advantages__text {
  color: $basic-background;
}

.advantages__item--bridge {
  padding-top: 39px;
  background-color: $primary-color;

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    padding-top: 0;
  }
}

.advantages__item--bridge .advantages__description {
  @media (min-width: $tablet-width) {
    grid-column-start: -2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
  }
}

.advantages__item--bridge .advantages__picture {
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: -2;
    grid-row-start: 1;
    grid-row-end: -1;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    object-position: center 10%;
  }
}

.advantages__item--small .advantages__text {
  @media (min-width: $tablet-width) {
    padding: 0 10px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 20px;
  }
}

.advantages__item--road .advantages__text {
  @media (min-width: $tablet-width) {
    padding: 0 33px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
  }
}

.advantages__item--uncrowded .advantages__text {
  @media (min-width: $desktop-width) {
    padding: 0 40px;
  }
}
