.advantages {
  width: 320px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
}

.advantages__item {
  min-height: 58px;
  margin: 0;
  padding-top: 25px;
  background-color: $dark-background;
  position: relative;
  font-size: 0;

  &::after {
    content: "";
    width: 280px;
    margin: 0 20px;
    padding: 0;
    height: 1px;
    background-color: $bottom-line;
    display: block;
    position: relative;
    bottom: 0;
    left: 0;
  }

  &:last-child::after {
    content: none;
  }
}

.advantages__description {
  padding-top: 0;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 25px;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $title-color;
  margin: 0;
  margin-bottom: 20px;
}

.advantages__number,
.advantages__text {
  font-size: 14px;
  line-height: 21px;
  color: $main-text;
  margin: 0;
}

.advantages__number {
  margin-bottom: 24px;
}

.advantages__item--town {
  padding-top: 60px;
  background-color: $primary-color;
  background-image: url("../img/bg-triangle.svg");
  background-position: center 0;
  background-repeat: no-repeat;

  &::after {
    content: none;
  }
}

.advantages__item--town .advantages__title,
.advantages__item--town .advantages__number,
.advantages__item--town .advantages__text,
.advantages__item--bridge .advantages__title,
.advantages__item--bridge .advantages__number,
.advantages__item--bridge .advantages__text {
  color: $basic-background;
}

.advantages__picture {
  margin: 0;
  padding: 0;
}

.advantages__item--bridge {
  background-color: $primary-color;
}
