.feedback-form {
  width: $mobile-min-width;
  margin: 38px auto 0;
  padding: 0;
  font-family: $main-font;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 84px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding-left: 120px;
    padding-right: 120px;
    margin-top: 0;
  }
}

.feedback-form__fieldset {
  width: 100%;
  margin: 0;
  padding: 0 20px 25px;
  border: none;
  position: relative;

  @media (max-width: $mobile-width-only) {
    &::before {
      content: "";
      width: $mobile-min-width;
      height: 1px;
      background-color: $photo-line;
      position: absolute;
      top: -20px;
      left: 0;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-bottom: 48px;

    &::before,
    &::after {
      content: "";
      width: 123px;
      height: 1px;
      display: block;
      background-color: $extra-line;
      position: absolute;
      left: 0;
      top: 11px;
    }

    &::after {
      left: auto;
      right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 44px;

    &::before,
    &::after {
      width: 280px;
    }
  }
}

.feedback-form__fieldset--client-info {
  @media (min-width: $tablet-width) {
    width: 266px;

    &::before {
      width: 1px;
      height: 292px;
      left: -60px;
      top: 5px;
    }

    &::after {
      content: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 400px;

    &::before {
      left: -80px;
    }
  }
}

.feedback-form__fieldset--client-contacts {
  @media (min-width: $desktop-width) {
    padding-bottom: 30px;
  }
}

.feedback-form__fieldset--sights {
  margin-top: -4px;

  @media (max-width: $mobile-width-only) {
    &::before {
      top: -16px;
    }
  }

  @media (min-width: $tablet-width) {
    &::before,
    &::after {
      top: 28px;
    }
  }
}

.feedback-form__fieldset--feedback {
  margin-top: -4px;

  @media (max-width: $mobile-width-only) {
    &::before {
      top: -16px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 6px;
  }
}

.feedback-form__fieldset--impression {
  @media (min-width: $tablet-width) {
    order: -1;
    width: 280px;

    &::before,
    &::after {
      content: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 4px;
    width: 400px;
  }
}

.feedback-form__group-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: $title-color;
  margin-top: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    text-align: left;
    margin-bottom: 56px;
  }

  .feedback-form__fieldset--client-contacts & {
    @media (min-width: $tablet-width) {
      text-align: center;
      margin-bottom: 22px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 73px;
    }
  }

  .feedback-form__fieldset--impression & {
    @media (min-width: $desktop-width) {
      padding-left: 78px;
    }
  }

  .feedback-form__fieldset--sights & {
    margin-bottom: 18px;

    @media (min-width: $tablet-width) {
      text-align: center;
      padding-left: 170px;
      padding-right: 170px;
      margin-bottom: 42px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 300px;
      padding-right: 300px;
    }
  }

  .feedback-form__fieldset--feedback & {
    display: block;
    width: 100%;
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
      text-align: center;
      margin-bottom: 55px;
    }
  }
}

.feedback-form__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feedback-form__list--client-contacts {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.feedback-form__list--impression {
  margin-bottom: 20px;
}

.feedback-form__list--sights {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.feedback-form__point {
  width: 280px;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: baseline;
  margin-bottom: 20px;
}

.feedback-form__point--client-info {
  @media (min-width: $tablet-width) {
    width: 266px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.feedback-form__point--client-contacts {
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
  }

  &:last-child {
    margin-bottom: 21px;

    @media (min-width: $tablet-width) {
      margin-bottom: 4px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 25px;
      align-items: center;
    }
  }
}

.feedback-form__point--impression {
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
    width: 280px;
  }
}

.feedback-form__point--sights {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin-left: 28px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 22.3%;
    margin-left: 0;
    margin-right: 34px;
  }

  &:nth-child(3) {
    @media (min-width: $desktop-width) {
      width: 20%;
    }
  }

  &:last-child {
    margin-bottom: 21px;

    @media (min-width: $desktop-width) {
      margin-right: 0;
    }
  }
}

.feedback-form__label {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: $main-text;
  margin-right: 14px;
}

.feedback-form__label--radio {
  min-height: 56px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $title-color;
  text-transform: none;
  padding-left: 78px;
  padding-top: 20px;
  margin-bottom: 6px;
  position: relative;

  .feedback-form__input--radio + &::before {
    content: "";
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 17px solid $light-background;
    background-color: $light-background;
    position: absolute;
    left: 0;
    top: 3px;
  }

  .feedback-form__input--radio + &:hover::before,
  .feedback-form__input--radio + &:focus::before {
    outline: none;
    border-color: $photo-line;
    background-color: $photo-line;
  }

  .feedback-form__input--radio + &:active::before {
    outline: none;
    border-color: $input-special;
    background-color: $input-special;
  }

  .feedback-form__input--radio:checked + &::before {
    background-color: $main-text;
  }

  .feedback-form__input--radio:checked + &:active::before {
    background-color: rgba($main-text, 0.3);
  }
}

.feedback-form__label--checkbox {
  min-height: 58px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $title-color;
  text-transform: none;
  padding-left: 78px;
  padding-top: 20px;
  margin-bottom: 6px;
  position: relative;

  .feedback-form__input--checkbox + &::before {
    content: "";
    width: 56px;
    height: 56px;
    border-radius: 5px;
    border: none;
    background-color: $light-background;
    position: absolute;
    left: 0;
    top: 3px;
  }

  .feedback-form__input--checkbox:checked + &::after {
    content: "";
    width: 56px;
    height: 56px;
    border-radius: 5px;
    border: none;
    position: absolute;
    left: 0;
    top: 3px;
    background-color: transparent;
    background-image: url("../img/icon-tick.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  .feedback-form__input--checkbox + &:hover::before {
    outline: none;
    background-color: $photo-line;
  }

  .feedback-form__input--checkbox + &:active::before {
    outline: none;
    background-color: $input-special;
  }

  .feedback-form__input--checkbox:checked + &:active::after {
    opacity: 0.3;
  }
}

.feedback-form__point--client-contacts .feedback-form__label {
  margin-left: 21px;
  margin-bottom: 8px;

  @media (min-width: $desktop-width) {
    margin-left: 0;
    padding-top: 14px;
  }
}

.feedback-form__input {
  min-height: 58px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $title-color;
  border: 4px solid $light-background;
  background-color: $light-background;

  &:hover {
    outline: none;
    background-color: $photo-line;
    border-color: $photo-line;
  }

  &:active,
  &:focus {
    outline: none;
    background-color: $basic-background;
    border-color: $photo-line;
  }
}

.feedback-form__input--text {
  width: 178px;
  flex-grow: 1;
  padding-left: 17px;
  padding-top: 6px;
  font-family: $main-font;
  color: $title-color;
}

.feedback-form__point--client-contacts .feedback-form__input--text {
  width: 222px;
  height: 58px;

  @media (min-width: $tablet-width) {
    width: 590px;
  }

  @media (min-width: $desktop-width) {
    width: 258px;
    flex-grow: 0;
  }
}

.feedback-form__icon-container {
  width: 58px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $form-icon-background;
  fill: $title-color;
}

.feedback-form__icon--mail {
  fill: $form-icon-color;
}

.feedback-form__input::placeholder {
  font-family: $main-font;
  color: $title-color;
  opacity: 1;
  padding: 0;
  margin: 0;
}

.feedback-form__input--textarea {
  width: 280px;
  height: 160px;
  padding-top: 8px;
  padding-left: 17px;

  @media (min-width: $tablet-width) {
    width: 648px;
    padding-top: 12px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.feedback-form__button-container {
  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

.feedback-form__button {
  display: block;
  width: 280px;
  min-height: 58px;
  background-color: $primary-color;
  border: none;
  color: $basic-background;
  font-family: $main-font;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 20px 60px;
  padding-left: 6px;

  @media (min-width: $tablet-width) {
    width: 324px;
    margin: 2px 0 60px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
    margin-bottom: 68px;
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: $background-hover;
  }

  &:active {
    outline: none;
    background-color: $background-down;
    color: rgba($basic-background, 0.3);
  }

  &:disabled {
    background-color: $photo-line;
  }
}

.feedback-form__instruction {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: $main-text;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.feedback-form__text-hide {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
