.find-motel {
  min-height: 660px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 33px;
  background-color: $basic-background;
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 290px;
  background-size: 320px 350px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    min-height: 668px;
    padding-top: 58px;
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-position: center 317px;
    background-size: 768px 350px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-map-mobile@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 682px;
    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-position: center 331px;
    background-size: 1200px 350px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
  }
}

.find-motel__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: $title-color;
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 33px;
  }
}

.find-motel__subtitle {
  display: block;
  width: 280px;
  font-size: 14px;
  line-height: 24px;
  color: $main-text;
  margin: 0 auto 27px;

  @media (min-width: $tablet-width) {
    width: 458px;
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 43px;
  }
}

.find-motel__wrapping-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.find-motel__search-button {
  display: block;
  width: 280px;
  min-height: 58px;
  background-color: $primary-color;
  color: $basic-background;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  margin: 0 auto 49px;
  padding-top: 14px;

  @media (min-width: $tablet-width) {
    width: 458px;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 65px;
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: $background-hover;
  }

  &:active {
    outline: none;
    background-color: $background-down;
    color: rgba($basic-background, 0.3);
  }
}

.find-motel__search-button.find-motel__search-button--disabled {
  background-color: $photo-line;
}

.find-motel__map {
  width: 100%;
  border: none;
}
