.find-motel {
  min-height: 647px;
  background-color: $basic-background;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 33px;

  @media (min-width: $tablet-width) {
    min-height: 668px;
    padding-top: 58px;
  }
}

.find-motel__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: $title-color;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}
