.main-nav {
  order: -1;
  width: 100%;

  @media (min-width: $tablet-width) {
    position: relative;
    left: 0;
    top: 0;
  }
}

.main-nav__wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

// должен меняться c бургера на крестик при открытом меню, пока так
// поменять цвета иконки
.main-nav__toggle {
  width: 23px;
  height: 22px;
  position: absolute;
  top: 17px;
  right: 20px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-cross.svg");
  z-index: 10;

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle--if-close {
  background-image: url("../img/icon-menu.svg");
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--js-close .site-list {
  display: none;
}
