.page-footer {
  background-color: $basic-background;
  padding-top: 7px;
}

.page-footer__wrapper {
  width: $mobile-min-width;
  height: 233px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    height: 120px;
    flex-direction: row;
    align-items: center;
    padding-right: 11px;
    margin-top: 3px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    height: 120px;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 130px;
    margin-top: 0;
  }
}

.page-footer__footer-tag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 36px;
}

.page-footer__social {
  margin-bottom: 32px;
}

.page-footer__copyright {
  margin-bottom: 40px;
}
