.page-header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header__logo {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
