.page-main {
  min-width: $mobile-min-width;
  margin: 0 auto;
  background-color: $basic-background;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
  }
}
