.page-footer {
    background-color: $basic-background;
}

.page-footer__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.page-footer__footer-tag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 33px;
}

.page-footer__social {
  margin-bottom: 45px;
}
