.page-header {
  width: $mobile-min-width;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (min-width: $tablet-width) {
    display: block;
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

// изменение логотипа в зависимости от ширины экрана - сделать его
// все-таки фоном?
.page-header__logo {
  height: 56px;
  margin: 0 auto;
  padding: 0;
  display: block;
  background-color: transparent;
  z-index: 10;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 333px;
  }

  @media (min-width: $desktop-width) {
    height: 97px;
    left: 505px;
  }
}
