.photo-collection {
  width: $mobile-min-width;
  margin: 0 auto;
  background-color: $basic-background;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0;
  }
}

// псевдоэлемент для лайка - или инлайново? надо перекрашивать

.photo-collection__list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid $photo-line;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-top: none;
  }
}

.photo-collection__item {
  min-height: 416px;
  margin: 0;
  padding-top: 23px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid $photo-line;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 347px;
    width: 324px;
    padding: 0;
    border-bottom: 0;
    background-color: $light-background;
  }

  @media (min-width: $desktop-width) {
    min-height: 267px;
  }
}

.photo-collection__item:nth-child(odd) {
  @media (min-width: $tablet-width) {
    background-color: $medium-background;
  }
}

.photo-collection__item:first-child {
  width: 100%;

  @media (min-width: $tablet-width) {
    min-height: 480px;
  }

  @media (min-width: $desktop-width) {
    min-height: 400px;
  }
}

.photo-collection__item::after {
  @media (min-width: $desktop-width) {
    content: "";
    width: 100%;
    height: 80px;
    background-color: $title-color;
    opacity: 0.3;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.photo-collection__photo-title {
  margin: 0;
  padding: 0;
  color: $title-color;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 209px;
    color: $basic-background;
    z-index: 10;
  }
}

.photo-collection__item:first-child .photo-collection__photo-title {
  @media (min-width: $desktop-width) {
    padding-top: 342px;
  }
}

.photo-collection__photo {
  order: -2;
  margin: 0;
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: auto;
    margin-bottom: 0;
  }
}

.photo-collection__item:first-child .photo-collection__photo {
  @media (min-width: $tablet-width) {
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.photo-collection__photo-author {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  font-weight: normal;
  text-transform: none;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    color: $basic-background;
    margin-bottom: 0;
    z-index: 10;
  }
}

.photo-collection__likes {
  margin: 0;
  padding: 0;
  padding-left: 57px;
  color: $title-color;

  @media (min-width: $tablet-width) {
    width: 53px;
    position: absolute;
    right: 53px;
    bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    color: $basic-background;
    z-index: 10;
  }
}
