.site-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

// пока без теней и декоративного элемента снизу

.site-list__item {
  margin: 0;
  padding: 0;
  min-height: 55px;
  text-align: center;
  background-color: $primary-color;

  @media (min-width: $tablet-width) {
    background-color: $basic-background;
    padding-top: 16px;
  }
}

.site-list__item--empty {
  background-color: transparent;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.site-list__link {
  min-height: 55px;
  margin: 0;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: $basic-background;
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 26px;
    color: $title-color;
  }
}
