.social__list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-top: 15px;
  }
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: $primary-color;
  background-position: center;
  background-repeat: no-repeat;
}

.social__link:hover,
.social__link:focus {
  background-color: $background-hover;
  outline: none;
}

// перекрасить при нажатии
.social__link--twitter {
  background-image: url("../img/icon-twitter.svg");
}

.social__link--facebook {
  background-image: url("../img/icon-facebook.svg");
}

.social__link--youtube {
  background-image: url("../img/icon-youtube.svg");
}
