$basic-background: #FFFFFF;
$light-background: #F2F2F2;
$medium-background: #EAEAEA;
$form-icon-background: #E6E6E6;
$dark-background: #EEEEEE;
$intro-background: #273E44;
$primary-color: #81B3D2;
$title-color: #000000;
$main-text: #333333;
$bottom-line: #D6D6D6;
$photo-line: #E5E5E5;

$main-font: "PT Sans", "Arial", sans-serif;

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$mobile-min-width: 320px;
